.AppBar {
	height: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
	grid-gap: 0;
	background-color: rgba(255,255,255,0);
}

.AppBarBl {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: flex-start;
	font-size: calc(8px + 2vmin);
	padding: 0 4rem 1rem 4rem;
	margin: 0;
	color: white;
}

.AppBarWh {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: space-between;
	font-size: calc(8px + 2vmin);
	padding: 0 4rem 1rem 4rem;
	margin: 0;
	color: black;
}

.AppBar p, .AppBar ul {
	margin-top: 0;
}

.AppBar ul {
	list-style: none;
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: space-between;
}

.AppBar ul a {
	margin-left: 2em;
}

.AppBar a {
	background: 
	  linear-gradient(to right, white, white),
	  linear-gradient(to right, #f6f6ff, blue, #0070ff);
	background-size: 100% 0.1em, 0 0.1em;
	background-position: 100% 100%, 0 100%;
	background-repeat: no-repeat;
	transition: background-size 400ms;
  }
  
  a:hover,
  a:focus {
	background-size: 0 0.1em, 100% 0.1em;
  }
  