.alice-carousel {
	width: 75% !important;
}

.alice-carousel__stage-item {
	width: 120px !important;
	height: 120px !important;
	border: 0.5px solid black;
	margin: 0.25em;
}

.alice-carousel__stage-item.__target {
	border: 3px solid #0070ff;
}


.alice-carousel__stage-item:hover {
	border: 3px solid #0070ff;
}

.alice-carousel__stage-item img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}